@import "../../styles/variables.scss";

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-size: 18px;
    font-weight: 700;
    background-color: $purple;
    border-radius: 28px;
    transition: background-color 0.25s ease-in-out;
    width: 100%;

    &:hover {
        background-color: $purple-light;
        border-color: $purple-light;
    }

    &:focus {
        background-color: $purple-lightest;
        border-color: $purple-lightest;
        outline: none;
    }
}