.fetching {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.card {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    height: 600px;

    .poster {
        position: absolute;
        top: -80px;
        right: -40px;
        height: calc(100% + 80px);
        opacity: 0.4;
        z-index: -1;
    }

    .content {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .title {
            font-size: 48px;
            font-weight: 700;
            line-height: 56px;
            margin-bottom: 16px;
        }

        .subtitle {
            font-size: 24px;
            font-weight: 400;

            & .short {
                display: -webkit-box;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
            }
        }
    }
}

.trailer {
    width: 100%;
    height: 400px;
}

.closeButton {
    position: absolute;
    top: 0;
    right: -60px;
}

.buttons {
    display: flex;
    gap: 8px;
    margin-top: 60px;

    .about {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color: #1a1a1a;
        cursor: pointer;
        transition: border-color 0.25s;
        color: white;

        &:hover {
            border-color: #646cff;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.modal {
    :global(.ant-modal-content) {
        padding: 0;
        background: none;
    }

    &:hover {
        .title {
            display: block;
        }
    }

    .title {
        display: none;
        position: absolute;
        left: 40px;
        bottom: 40px;
        width: 80%;
        padding: 20px;
        color: white;
        background-color: rgba(0,0,0,0.5);
    }
}