$white: #fff;
$black: #1c1c1c;
$black-transparent: rgba(0, 0, 0, 0.5);
$black-transparent-light: rgba(0, 0, 0, 0.3);
$white-dark: #ffffff80;
$white-transparent: rgba(255,255,255,0.25);
$violet: #DC5DFC;
$purple: #6A5DC2;
$purple-light: #8577E1;
$purple-lightest: #D6D2F1;
$gray: #525252;
$gray-light: #676767;
$gray-dark: #393B3C;
$gray-shadow: #FFFFFF54;
$gray-rating: #777777;
$gold: #A59400;
$green: #308E21;
$red: #C82020;