@import "../../styles/variables.scss";

.fetching {
    width: 100%;
    height: 100%;
    background-color: $black-transparent-light;
}

.card {
    width: 100%;
    position: relative;
    height: 400px;

    .poster {
        height: 100%;
        position: absolute;
        right: 0;
    }

    .content {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .title {
            font-size: 20px;
            font-weight: 600;
        }
    }
}

.trailer {
    width: 100%;
    height: 400px;
}

.closeButton {
    position: absolute;
    top: 0;
    right: -60px;
}

.buttons {
    display: flex;
    gap: 8px;
}

.header {
    display: flex;
    gap: 16px;
}