@import "../../styles/variables.scss";

.container {
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: $black-transparent;
    backdrop-filter: blur(20px);
    position: fixed;
    left: 0;
    right: 0;
    width: calc(100vw - 80px);
    padding: 20px 40px;
    z-index: 5;

    @media (max-width: 600px) {
        gap: 24px;
    }

    > a {
        font-size: 24px;
        color: $white;
        border-bottom: 1.5px solid transparent;
        transition: opacity 0.25s ease-in-out;

        @media (max-width: 600px) {
            font-size: 20px;
        }

        &:global(.active) {
            border-color: $violet;
        }

        &:hover {
            color: $white;
            opacity: 0.6;
        }
    }

    .loginButton {
        font-size: 24px;
        color: $white;
        border: none;
        background: none;
        padding: 0;
        text-wrap: nowrap;

        @media (max-width: 600px) {
            font-size: 20px;
        }
    }
}

.closeButton {
    position: absolute;
    top: 0;
    right: -60px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: $black;
    background-color: $white;
    padding: 0;

    @media (max-width: 700px) {
        right: 10px;
        top: 10px;
    }

    &:hover {
        color: $black;
    }
}

.modal {
    :global(.ant-modal-content) {
        padding: 20px 40px;;
        width: 420px;

        @media (max-width: 700px) {
            width: auto;
        }
    }
}